%div.container 
  %h1 About Blocmetrics 
  %p Blocmetrics is an analytics service which can track event data from web applications.
    
%div.container
  %h2 About the developer 
  %p 

    %a{:href => 'https://www.linkedin.com/in/jack-corley-00242211a/'} Jack Corley
    is a software developer apprentice.  
    He is currently working his way through a mentor led software engineering bootcamp through 
    %a{:href => 'https://www.bloc.io/'} Bloc. 
    He can be contacted through email at 
    %a{:href => 'mailto:jdcorley@gmail.com'} jdcorley@gmail.com. 
    You can also follow him on 
    %a{:href => 'https://github.com/Jdcorley'} github.